In [3]:
from thefuzz import process

from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import commonteamroster, playerprofilev2

import pandas as pd

In [13]:
player = 'agbaji'

In [14]:
players_df = pd.DataFrame(players.get_players())
players_df = players_df[players_df['is_active'] == True]
players_df.drop('is_active', axis=1)

           id                 full_name first_name         last_name
10    1630173          Precious Achiuwa   Precious           Achiuwa
24    1628389               Bam Adebayo        Bam           Adebayo
29    1630534              Ochai Agbaji      Ochai            Agbaji
43    1630583              Santi Aldama      Santi            Aldama
57    1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker
...       ...                       ...        ...               ...
4993   201152            Thaddeus Young   Thaddeus             Young
4995  1629027                Trae Young       Trae             Young
4996  1630209            Omer Yurtseven       Omer         Yurtseven
4999   203469               Cody Zeller       Cody            Zeller
5016  1627826               Ivica Zubac      Ivica             Zubac

[573 rows x 4 columns]

In [15]:
search = process.extract(player, players_df['full_name'], limit=5)

In [17]:
player_name = search[0][0]
player_row = players_df[players_df['full_name'] == player_name]
player_id = player_row['id'].iloc[0]

In [22]:
playerprofilev2.PlayerProfileV2(player_id=player_id).get_data_frames()[-1]['PLAYER_TEAM_ID'].iloc[0]

1610612761