In [1]:
import pandas as pd
from nba_api.stats.library import data

In [8]:
players_ids = data.players

In [9]:
df_players_ids = pd.DataFrame(players_ids)

In [10]:
df_players_ids.columns=['Ids', 'Last_Name', 'First_Name', 'Full_Name', 'Current_Player']

In [14]:
df_players_ids.head()

     Ids     Last_Name First_Name            Full_Name  Current_Player
0  76001     Abdelnaby       Alaa       Alaa Abdelnaby           False
1  76002    Abdul-Aziz       Zaid      Zaid Abdul-Aziz           False
2  76003  Abdul-Jabbar     Kareem  Kareem Abdul-Jabbar           False
3     51    Abdul-Rauf    Mahmoud   Mahmoud Abdul-Rauf           False
4   1505   Abdul-Wahad      Tariq    Tariq Abdul-Wahad           False

In [15]:
df_players_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5019 entries, 0 to 5018
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ids             5019 non-null   int64
 1   Last_Name       5019 non-null   object
 2   First_Name      5019 non-null   object
 3   Full_Name       5019 non-null   object
 4   Current_Player  5019 non-null   bool
dtypes: bool(1), int64(1), object(3)
memory usage: 161.9+ KB

In [ ]:
df