In [1]:
#DS Imports
import pandas as pd

#Fuzzy Finder Algorithm
from thefuzz import fuzz
from thefuzz import process

#Stats API
from nba_api.stats.library import data

In [2]:
players = pd.DataFrame(data.players)

In [10]:
players.head()

       0             1        2                    3      4
0  76001     Abdelnaby     Alaa       Alaa Abdelnaby  False
1  76002    Abdul-Aziz     Zaid      Zaid Abdul-Aziz  False
2  76003  Abdul-Jabbar   Kareem  Kareem Abdul-Jabbar  False
3     51    Abdul-Rauf  Mahmoud   Mahmoud Abdul-Rauf  False
4   1505   Abdul-Wahad    Tariq    Tariq Abdul-Wahad  False

In [9]:
def name_match(search_string: str, search_list: list):
    for i in search_list:
        for x in range(len(i)):
            pass

In [8]:
def player_search():
    pass