In [1]:
import pandas as pd

from nba_api.stats.static import players, teams
from nba_api.stats.endpoints import playerprofilev2
from nba_api.stats.endpoints import commonteamroster

Create a df including player current jersey #, Name, team

In [15]:
player_name = 'Shai Gilgeous-Alexander'

In [3]:
all_players = players.get_players()

In [4]:
team_df = pd.DataFrame(teams.get_teams())

In [5]:
team_df.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [6]:
df = pd.DataFrame(all_players)

In [7]:
df.drop('first_name', inplace=True, axis=1)
df.drop('last_name', inplace=True, axis=1)

In [8]:
df.head()

      id            full_name  is_active
0  76001       Alaa Abdelnaby      False
1  76002      Zaid Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      False

In [9]:
player_row = df[df['full_name'] == player_name]

In [10]:
player_id = player_row['id'].iloc[0]
player_id

1628983

In [11]:
playerprofile = playerprofilev2.PlayerProfileV2(player_id=player_id)

In [12]:
df_player_profile = playerprofile.get_data_frames()[0]
player_team_abbrev = list(df_player_profile['TEAM_ABBREVIATION'])[-1]

In [ ]:
df = pd.concat((df, player_team_abbrev)) # not working because of specific choice of player

In [19]:
team_id = team_df[team_df['abbreviation'] == player_team_abbrev]['id']

In [20]:
team_roster = commonteamroster.CommonTeamRoster(team_id=team_id)

In [31]:
team_roster = team_roster.get_data_frames()[0]

In [34]:
player_num = team_roster[team_roster['PLAYER'] == player_name]

In [37]:
player_num['NUM']

5    2
Name: NUM, dtype: object