In [1]:
import pandas as pd

from nba_api.stats.static import players, teams
from nba_api.stats.endpoints import playerprofilev2
from nba_api.stats.endpoints import commonteamroster

Create a df including player current jersey #, Name, team

In [2]:
player_name = 'Dejounte Murray'

all_players = players.get_players()

In [3]:
team_df = pd.DataFrame(teams.get_teams())

In [4]:
team_df.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [5]:
all_players = players.get_players()

In [6]:
df = pd.DataFrame(all_players)

In [7]:
df.drop('first_name', inplace=True, axis=1)
df.drop('last_name', inplace=True, axis=1)

In [8]:
df.head()

      id            full_name  is_active
0  76001       Alaa Abdelnaby      False
1  76002      Zaid Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      False

In [9]:
player_row = df[df['full_name'] == player_name]
player_row

           id        full_name  is_active
3185  1627749  Dejounte Murray       True

In [10]:
player_id = player_row['id'].iloc[0]
player_id

1627749

In [11]:
playerprofile = playerprofilev2.PlayerProfileV2(player_id=player_id)

In [12]:
df_player_profile = playerprofile.get_data_frames()[0]
player_team_abbrev = list(df_player_profile['TEAM_ABBREVIATION'])[-1]
df_player_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          7 non-null      int64
 1   SEASON_ID          7 non-null      object
 2   LEAGUE_ID          7 non-null      object
 3   TEAM_ID            7 non-null      int64
 4   TEAM_ABBREVIATION  7 non-null      object
 5   PLAYER_AGE         7 non-null      float64
 6   GP                 7 non-null      int64
 7   GS                 7 non-null      int64
 8   MIN                7 non-null      int64
 9   FGM                7 non-null      int64
 10  FGA                7 non-null      int64
 11  FG_PCT             7 non-null      float64
 12  FG3M               7 non-null      int64
 13  FG3A               7 non-null      int64
 14  FG3_PCT            7 non-null      float64
 15  FTM                7 non-null      int64
 16  FTA                7 non-null      int64
 17  FT_PCT             7 non-null      float64
 18  OREB               7 non-null      int64
 19  DREB               7 non-null      int64
 20  REB                7 non-null      int64
 21  AST                7 non-null      int64
 22  STL                7 non-null      int64
 23  BLK                7 non-null      int64
 24  TOV                7 non-null      int64
 25  PF                 7 non-null      int64
 26  PTS                7 non-null      int64
dtypes: float64(4), int64(20), object(3)
memory usage: 1.6+ KB

In [13]:
player_team_abbrev

'ATL'

In [14]:
team_id = team_df[team_df['abbreviation'] == player_team_abbrev]

In [15]:
team_id = (team_id.iloc[0, 0])

In [16]:
team_roster = commonteamroster.CommonTeamRoster(team_id=team_id)

In [17]:
team_roster = team_roster.get_data_frames()[0]

In [18]:
player_data = team_roster[team_roster['PLAYER_ID'] == player_id]

In [19]:
print(player_data)

Empty DataFrame
Columns: [TeamID, SEASON, LeagueID, PLAYER, NICKNAME, PLAYER_SLUG, NUM, POSITION, HEIGHT, WEIGHT, BIRTH_DATE, AGE, EXP, SCHOOL, PLAYER_ID, HOW_ACQUIRED]
Index: []

In [20]:
player_number = player_data['NUM']

In [21]:
player_number = int(player_number.iloc[0])

IndexError: single positional indexer is out-of-bounds